@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #57ff73, #37f3ba);
}

.container {
  margin: 0 auto;
}

.header {
  width: 1440px;
  height: 1200px;
  background-color: #f6f6f6;
}

.section1 h1 {
  width: 600px;
  font-weight: 700;
  font-style: Bold;
  font-size: 65px;
  line-height: 78px;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.h11 {
  color: #29A0F5;
}

.section1 p {
  width: 644px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #1B2534;
  padding-top: 27px;
}

.section1 {
  padding-top: 160px;
  width: 1340px;
  height: 380px;
  display: flex;
  justify-content: space-between;
}

.section1 img {
  width: 645px;
  height: 380px;
}

.section2 {
  padding-top: 260px;
  width: 1340px;
  height: 330px;
  display: flex;
  justify-content: space-between;
}

.mainimg {
  width: 633px;
  height: 250px;
}

.img2 {
  width: 338px;
  height: 250px;
}

.section3 {
  padding-top: 300px;
  padding-left: 10px;
  width: 1340px;
  height: 330px;
  display: flex;
  align-items: center;
}

.img3 {
  width: 481px;
  height: 272px;
}

.mainimg2 {
  width: 843px;
  height: 272px;
  border-radius: 33px;
}

.section4 {
  width: 1440px;
  height: 1302px;
  background-color: #ffffff;
}

.section4 h1 {
  padding-left: 180px;
  width: 1200px;
  font-weight: 700;
  font-style: Bold;
  font-size: 65px;
  line-height: 78px;
  letter-spacing: 0%;
}

.h2 {
  color: #29A0F5;
}

.main img {
  width: 851px;
  height: 616px;
}

.boxes {
  width: 458px;
  height: 722px;
}

.box {
  width: 458px;
  height: 140px;
  border-radius: 20px;
}

.main {
  padding-top: 40px;
  width: 1340px;
  height: 752px;
  display: flex;
  justify-content: space-between;
}

.box h1 {
  padding: 0;
  margin: 0;
  color: #ababab;
  padding-right: 200px;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 52.5px;
  letter-spacing: 0%;
}

.box p {
  width: 400px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #ababab;
}

.box:hover {
  background-color: #1B2534;
  color: #f6f6f6;
  transform: translateY(-5px);
}

.box:hover h1,
.box:hover p {
  color: #f6f6f6;
  padding-left: 20px;
}

.h33 {
  padding-top: 135px;
}

.section5 {
  width: 1440px;
  height: 859px;
  background-color: #1B2534;
}

.text3img {
  width: 40px;
  height: 40px;
}

.text3 p {
  width: 700px;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0%;
  color: #ababab;
}

.text3 {
  width: 708px;
  height: 580px;
}

.text3 h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 65px;
  line-height: 91px;
  letter-spacing: 0%;
  color: #ffffff;
}

.text3img2 {
  width: 531px;
  height: 457px;
  border-radius: 40px;
}

.main2 {
  width: 1340px;
  height: 580px;
  display: flex;
  padding-left: 50px;
  padding-top: 140px;
}

.section6 {
  width: 1440px;
  height: 1302px;
  background-color: #ffffff;
}

.main3 h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: center;
  color: #1B2534;
}

.main3 {
  padding-top: 160px;
}

.card {
  border-radius: 20px;
  width: 453px;
  height: 650px;
}

.cards {
  padding-top: 180px;
  display: flex;
  width: 1360px;
  height: 823px;
}

.card h1 {
  width: 344px;
  color: #1B2534;
  font-weight: 700;
  font-style: Bold;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 0%;
}

.card p {
  color: #606060;
  width: 400px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  padding-left: 15px;
  padding-top: 25px;
}

.card:hover {
  box-shadow: 0 4px 22px rgba(90, 127, 248, 0.836);
}

.card img {
  padding-left: 15px;
}

.btn {
  width: 227px;
  height: 72px;
  border-radius: 20px;
  background-color: #29A0F5;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-align: center;
  border-style: none;
  margin-left: 582px;
  margin-top: 20px;
}

.section7 {
  width: 1440px;
  background: linear-gradient(135deg, #C4F5C9, #30A8FF);
}

.main4 h1 {
  width: 800px;
  padding-top: 140px;
}

.btn2 {
  width: 261px;
  height: 72px;
  color: #ffffff;
  background-color: #1B2534;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.4px;
  border-radius: 20px;
  margin-top: 236px;
  margin-right: 52px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.btn:hover {
  background-color: #ffffff;
  color: #29A0F5;
  border-color: #29A0F5;
  border-style: inset;
}

.main4 {
  width: 1340px;
  height: 248px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.section7 img {
  width: 1340px;
  height: 599px;
  padding-left: 50px;
  padding-top: 100px;
}

.main3 img {
  animation: doniyor;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 50px;
  background-color: #1B2534;
}

.lastdiv1 ul {
  padding-left: 40px;
  list-style: none;
  gap: 40px;
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.36px;
  color: #606060;
}

.lastdiv ul {
  padding-right: 40px;
  gap: 40px;
  list-style: none;
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.36px;
  color: #ababab;
}

.btn2 a:hover {
  color: #1B2534;
}

.btn2:hover {
  background-color: #ffffff;
}

@keyframes doniyor {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(100px);
  }

  75% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(-10px);
  }
}